@import "variables";

.App {
  margin: auto;
  margin-top: 15vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  max-height: 80vh;
  width: 50%;
  flex-direction: column;
  border: 2px solid $lightGrey;
  border-radius: 10px;
  background-color: $white;
  background-image: url("../images/back.jpg");
  box-shadow: 0px 0px 30px $lightGrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: $lightBlue;
}

.container {
  margin-bottom: 20px;
  overflow: scroll;
  width: 80%;
}

.button {
  color: $white;
  width: 300px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  background: linear-gradient(122deg, $lightBlue 0%, $darkBlue 59%);  
  border-color: $lightGrey;
  border-radius: 30px;
  margin: 0 0 20px 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: $darkGrey;
}

form {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  min-height: 50px;
  text-align: justify;
  margin: 0 10px 0 10px;
}

.todo:nth-child(n+3) {
  border-top: 1px groove;
}

.todo-article {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  max-width: 80%;
  margin: 0 10px 0 10px;
}

.not-completed-todo {
  color: $darkGrey;
  text-decoration: none;
}

.completed-todo {
  color: $lightGrey;
  text-decoration: line-through $lightBlue 3px;
}

.modal-todo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.bold-text {
  font-weight: 600;
}

label input {
  display: none;
}

label span {
  height: 12px;
  width: 12px;
  border: 3px solid $lightBlue;
  display: inline-block;
  position: relative;
  background: none;
  border-radius: 5px;
  padding: 3px;
}

[type=checkbox]:checked+span:before {
  content: '\2714';
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 18px;
  color: $lightBlue;
}

[type=checkbox]:checked+span {
  border: none;
}

@media screen and (max-width: 800px) {
  .App {
    width: 80%;
  }
  .button {
    width: 300px;
  }
  .container {
    width: 90%;
  }
  .todo-article {
    max-width: 60%;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .App {
    width: 90%;
  }
  h1 {
    font-size: 30px;
  }
  .todo {
    font-size: 15px;
  }
  .button {
    width: 250px;
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .App {
    width: 100%;
  }
  .todo-article {
    max-width: 50%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  /* portrait styles here */
  .App {
    width: 95%;
  }
  .todo {
    font-size: 15px;
  }
  .todo-article {
    max-width: 50%;
  }
  }
